<table>         <!--Esto seria un componente; una porcion de codigo HTML que implementaremos en otrs codigos mas grandes-->
    <thead>
        <tr>
            <th [attr.colspan]='columnas'>
                Ciclista
            </th><!--[attr.colspan]='columnas' (interpolacion), attr.colspan='{{columnas}}'  (enlace de datos)-->
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Nombre</td>
            <td>{{nombre}}</td>  <!--Para utilizar el valor de una variable se utiliza doble llave {{var}}-->
        </tr>
        <tr>
            <td>Apellidos</td>
            <td>{{apellidos}}</td>
        </tr>
        <tr *ngIf="visibles">
            <td>Direccion</td>
            <td>{{direccion}}</td>
        </tr>
        <tr *ngIf="visibles">
            <td>Edad</td>
            <td>{{edad}}</td>
        </tr>
    </tbody>
</table>
<br>
<button (click)="alternarVisibles()">{{visibles ? "Ocultar" : "Mostrar"}} Detalles</button>

<!--depende del valor de la varible visibles, en el contenido del boton pondra una cosa u otra-->