<table>         <!--Esto seria un componente; una porcion de codigo HTML que implementaremos en otrs codigos mas grandes-->
    <tr>
        <td>Nombre</td>
        <td>{{nombre}}</td>  <!--Para utilizar el valor de una variable se utiliza doble llave {{var}}-->
    </tr>
    <tr>
        <td>Apellidos</td>
        <td>{{apellidos}}</td>
    </tr>
    <tr>
        <td>Direccion</td>
        <td>{{direccion}}</td>
    </tr>
    <tr>
        <td>Edad</td>
        <td>{{edad}}</td>
    </tr>
</table>