<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dirección</th>
            <th>Edad</th>
        </tr>
    </thead>
    <tbody><!--queremos crear cuatro filas (tr)-->
        <tr *ngFor="let alumno of alumnos">
            <td>{{alumno.nombre}}</td>
            <td>{{alumno.apellidos}}</td>
            <td>{{alumno.direccion}}</td>
            <td>{{alumno.edad}}</td>
        </tr>
    </tbody>
</table>
<!--ngFor es como el forEach-->
<!--let acepta cualquier tipo de dato-->