<contadorHijo   [todos]="getNumTodos()" 
                [hombres]="getNumHombres()" 
                [mujeres]="getNumMujeres()"
                (globalElegido)="alCambiar($event)"
></contadorHijo>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Fecha de nacimiento</th>
            <th>sexo</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let alumn of alumnos">
            <tr *ngIf="seleccion == 'Todos' || seleccion == alumn.sexo.trim()"><!--no se pueden poner dos directivas el mismo elemento-->
                <td>{{alumn.nombre | uppercase }} {{alumn.apellidos | lowercase}}</td>
                <td>{{alumn.direccion}}</td>
                <td>{{alumn.fnac | date: 'dd/MMM/y'}}</td>
                <td>{{alumn.sexo}}</td>
            </tr>
        </ng-container>
        <tr *ngIf="!alumnos || alumnos.length == 0 ">
            <td colspan="4">No Hay alumnos</td>
        </tr>
        <tr *ngIf="alumnos.length > 0 ">
            <td colspan="4">SI Hay alumnos</td>
        </tr>
    </tbody>
</table>