<div>
    <CursoLista 
    (CursoSeleccionado)="cargarCurso($event)">
    </CursoLista>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Fecha de nacimiento</th>
                <th>sexo</th>
                <th>CursoID</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let alumn of alumnos">
                <tr *ngIf="seleccion == 800 || seleccion == alumn.cursoID">
                    <td><a [routerLink]="['/Alumnos', alumnos]" >{{alumn.nombre | uppercase }} {{alumn.apellidos | lowercase}}</a></td>
                    <td>{{alumn.direccion}}</td>
                    <td>{{alumn.fnac | date: 'dd/MMM/y'}}</td>
                    <td>{{alumn.sexo}}</td>
                    <td>{{alumn.cursoID}}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>